body {
    background-color: rgb(46, 46, 46);
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    color: wheat;
}

#startButton {
    height: 100px;
    width: 200px;
}

#gameControlsDiv {
    display: none;
}

.playerButtons {
    height: 80px;
    width: 200px;


}

#restartGameButton {
    display: none;
}

#displayInfo {
    display: none;
}

h3, h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

